.filter {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    position: relative;
    border-radius: 4px;
}
.filter button {
    position: absolute;
    margin: 11px 0;
    right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.filter button:hover {
    opacity: 90%;
}